@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-gl-cream text-gl-black antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

input[type="range"] {
  @apply h-2 w-full cursor-pointer appearance-none rounded-full bg-neutral-200;
}

input[type="range"]::-webkit-slider-thumb {
  @apply h-6 w-6 cursor-pointer appearance-none rounded-full bg-gl-red shadow-sm;
  margin-top: -8px;
}

input[type="range"]::-moz-range-thumb {
  @apply h-6 w-6 cursor-pointer rounded-full border-0 bg-gl-red shadow-sm;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply h-2 rounded-full bg-neutral-200;
}

input[type="range"]::-moz-range-track {
  @apply h-2 rounded-full bg-neutral-200;
}
